<div class="content_item">
    <div class="col">
        <div class="box" id="c11">
            <img [src]="url" alt="tiger">
            <div class="detalis_box">
                <img class="details_img" [src]="urlh" width="11.5px" height="10px" alt="health">
                <h6>Raja</h6>
                <img class="details_img" id="det" [src]="urlv" width="11.5px" height="10px" alt="video">
            </div>
            <div class="food_div"><a>Food(Beaf 3kg)</a></div>
        </div>
        <div class="box" id="c12">
            <img [src]="url" alt="tiger">
            <div class="detalis_box">
                <img class="details_img" [src]="urlh" width="11.5px" height="10px" alt="health">
                <h6>Raja</h6>
                <img class="details_img" id="det" [src]="urlv" width="11.5px" height="10px" alt="video">
            </div>
            <div class="food_div"><a>Food(Beaf 3kg)</a></div>
        </div>
        <div class="box" id="c13">
            <img [src]="url" alt="tiger">
            <div class="detalis_box">
                <img class="details_img" [src]="urlh" width="11.5px" height="10px" alt="health">
                <h6>Raja</h6>
                <img class="details_img" id="det" [src]="urlv" width="11.5px" height="10px" alt="video">
            </div>
            <div class="food_div"><a>Food(Beaf 3kg)</a></div>
        </div>
    </div>
    <div class="col2">
        <div class="box" id="c21">
            <img [src]="url" alt="tiger">
            <div class="detalis_box">
                <img class="details_img" [src]="urlh" width="11.5px" height="10px" alt="health">
                <h6>Raja</h6>
                <img class="details_img" id="det" [src]="urlv" width="11.5px" height="10px" alt="video">
            </div>
            <div class="food_div"><a>Food(Beaf 3kg)</a></div>
        </div>
        <div class="box" id="c22">
            <img [src]="url" alt="tiger">
            <div class="detalis_box">
                <img class="details_img" [src]="urlh" width="11.5px" height="10px" alt="health">
                <h6>Raja</h6>
                <img class="details_img" id="det" [src]="urlv" width="11.5px" height="10px" alt="video">
            </div>
            <div class="food_div"><a>Food(Beaf 3kg)</a></div>
        </div>
        <div class="box" id="c23">
            <img [src]="url" alt="tiger">
            <div class="detalis_box">
                <img class="details_img" [src]="urlh" width="11.5px" height="10px" alt="health">
                <h6>Raja</h6>
                <img class="details_img" id="det" [src]="urlv" width="11.5px" height="10px" alt="video">
            </div>
            <div class="food_div"><a>Food(Beaf 3kg)</a></div>
        </div>
    </div>
</div>
<div class="free_space"></div>
<div class="btn">
    <button class="btnclass" id="btn1">ALL</button>
    <button class="btnclass" id="btn2">carnivarous</button>
    <button class="btnclass" id="btn3">Mammals</button>
</div>